page-home {
    .content {
        background-color: #f2f6f8;
    }
    .banners {
        ion-slide {
            background-color: rgb(247, 247, 247);
            height: 150px;
        }
        img {
            margin: 0;
            padding: 0;
            border: 0;
            display: block;
            max-width: 100%;
            width: 100%;
        }

        .swiper-pagination-bullet-active {
            background-color: color($colors, main-theme);
        }
    }

    .sections {
        background-color: white;
        padding-top: 15px;
        .section {
            text-align: center;
            padding-bottom: 15px;
            .icon {
                // background-color: #999;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                // border: 1px solid #e6e6e6;
            }
            .name {
                margin: 0;
                margin-top: 5px;
                padding: 0;
                font-size: 14px;
                color: #666;
            }
        }
    }
}
